<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <a href="#" class="list-group-item list-group-item-action hans pf-hands" aria-current="true" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling3" aria-controls="offcanvasScrolling">
            <div class="row">
              <div class="col-lg-3">
                <div class="d-flex w-100 align-items-center justify-content-between">
                <span class="pf-div"><img src="{{ user.image | user_image }}" class="pf-icon" draggable="false"></span>
                </div>
              </div>
              <div class="col-lg-9">
                <div class="d-flex w-100 align-items-center justify-content-between pe-2 pt-3">
                    <span class="profile-name mb-1">{{ user.name }}</span>
                </div>
                <div class="d-flex w-100 align-items-center justify-content-between pe-2">
                  <div class="inpm">{{ user.about }}</div>
                </div>
              </div>
            </div>
          </a>
    </body>
</html>
