<!DOCTYPE html>
<html>
    <head></head>
    <body>
       {% for message in messages %}

       {% if message.message != None %}
            {% if message.user_id != session['user_id'] %}
            <!-- receive message -->
            <div class="receive">
                <div class="inner-text">
                <div class="userams">
                    {{ message.message|default('&nbsp;', true) }}
                </div>
                </div>
            </div>
            <!-- end receive message -->
        {% endif %}

            <!--div class="divider"></div-->

        {% if message.user_id == session['user_id'] %} 
            <!-- send message -->
            <div class="send">
                <div class="inner-text-send">
                <div class="userams">
                    {{ message.message }} 
                </div>
                </div>
            </div>
            <!-- end send message -->
        {% endif %}

        {% endif %}

       {% endfor %}
      
    </body>
</html>
