<!DOCTYPE html>
<html>
    <head></head>
    <body>
    
        {% for friend in results %}
        <!-- start message -->
        <div class="list-group-item list-group-item-action hans getFriendMessage" style="cursor: pointer;" id="message-{{friend.id}}">
          <div class="row">
            <div class="col-lg-2">
              <div class="d-flex w-100 align-items-center justify-content-between">
              <span class="chat-profile-div"><img src="{{ friend.image | user_image }}" class="chat-profile-icon" draggable="false"></span>
              </div>
            </div>
            <div class="col-lg-10">
              <div class="d-flex w-100 align-items-center justify-content-between pe-2 pt-1">
                  <span class="profile-name">{{ friend.name }}</span>
                  <small class="profile-date text-muted">Saturday</small>
              </div>
              <div class="d-flex w-100 align-items-center justify-content-between pe-2">
                <div class="inpm">Some placeholder content in a paragraph below the heading and date. Another placeholder content in a paragraph below the heading and date.</div>
                <div class="capol"><span class="innerlabel text-white badge rounded-pill" aria-label="3 unread messages">2  </span></div>
              </div>
            </div>
          </div>
        </div>
        <!-- End messages -->
        {% endfor %}

      <script>
        $(document).ready(function(e){
            $(".add").click(function(){
              var id=$(this).attr('id').split("-")[1];
              $.ajax({
                url:'/new-friend',
                data:'friend_id='+id,
                type: "POST",
                beforeSend: function(){
                  $('#add-'+id).text('Adding');
                },
                success: function(data){
                  if(data == "success"){
                    $('#add-'+id).text('Added');
                    $('#add-'+id).attr('class', 'btn btn-sm btn-success');
                  } else{
                    alert(data)
                    $('#add-'+id).text('Friends');
                    $('#add-'+id).attr('class', 'btn btn-sm btn-secondary');
                  }
                }
            });
          });
        });
      </script>
      
    </body>
</html>
